
<section class="footer">
  <div class="section maintask" id="contact">
    <div class="container">
       <div class="maintask_content">
         <div class="maintask_data">
           <h3>SUBSCRIBE TO OUR MAINTASK</h3>
           <p>A short sentence describing what someone will receive by subscribing</p>
         </div>
         <form action="#">
              <input type="email" placeholder="Enter Your email address" class="maintask_email">
              <a href="" class="maintask_link" href="#">subscribe</a>
         </form>
       </div>
    </div>
  </div>
<div class="bottom-footer">
 <div class="main">
   <div>
    <i style="background-color: #f1f1f1;;padding: 12px 13px;font-size: 20px;" class="fas fa-envelope"></i>
     <input type="email" placeholder="Enter your email address">
   </div>
     <div class="social-link">
     <a href="#" class="social_item">
      <img src="../../assets/Icons/twitter.png" alt="">
      <span id="total">123</span>
     </a>

     <a href="#" class="social_item">
      <img src="../../assets/Icons/facebook.png" alt="">
      <span id="total">100</span>
     </a>

     <a href="#" class="social_item">
      <img src="../../assets/Icons/instagram (1).png" alt="">
      <span id="total">154</span>
     </a>

     </div>
   </div>
   <div class="category">
    <p> <a href="">@ Copyright 2021</a>  Rohit Shinde Counsulting <span> Terms & Policy</span></p>
  </div>
 </div>
</section>
