
 <div class="container-fluid" id="card">
  <div class="row">
      <div class="col-12 mt-5">
          <div class="card">
              <div class="card-horizontal">
                  <div class=" user">
                      <img class="" src="{{userDetails?.image}}"  alt="Card image cap">
                     <div class="user-btn">
                      <button type="button" class="photo_edit" >Edit Photo</button>
                      <button type="button" class=" profile_edit" (click)="profileEdit()" >Edit Profile</button>
                     </div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Profile</h4>
                      <p class="card-text">I'm {{userDetails?.fname}} {{userDetails?.lname}} and I am {{userDetails?.age}} years old and you can send your emails to <a href="#">{{userDetails?.email}}</a> I live in the state of {{userDetails?.state}}. My Interst in {{userDetails?.interests}}. And please send me newsletters on following address : {{userDetails?.address}} {{userDetails?.address1}} {{userDetails?.address2}}  . Please reach out to me on my {{userDetails?.mobile}}</p>
                      <a href="" class="btn">I Agree</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

