
<carousel    [pauseOnFocus]="true"  [showIndicators]="false">
  <slide class="active">
    <img src="../../assets/Image/background 1 (2).jpg" alt="first slide" style="display: block; width: 100%;">
<section class="hero">
  <div class="container">
    <div class="hero_content">
      <div class="hero_data">
        <h3>Looking For...</h3>
      </div>
      <form action="#">
       <div class="top">
        <input type="text" placeholder="Enter your job description">
        <a href="" class="hero_link">Search</a>
       </div>
         <div class="bottom">
          <div class="type" style="color: #555; font-size: 1rem; text-align: right;">
            <input class="full" type="checkbox" name="fulltime"> Full Time
            <input class="part" type="checkbox" name="parttime"> Part Time / Casual / Freelance
          </div>
          <select name="select" id="select">
            <option>Select your Location</option>
            <option>Mumbai</option>
            <option>Delhi</option>
            <option>Pune</option>
            <option>Ahamdabad</option>
            <option>Banglore</option>
          </select>
         </div>
      </form>
      <div class="register">
        <button type="button" (click)=" onRegister()" class="link">Register</button>
      </div>
    </div>
  </div>
  </section>
  </slide>
  <slide class="active">
    <img src="../../assets/Image/background 3 (2).jpg" alt="second slide" style="display: block; width: 100%;">

    <section class="hero">
      <div class="container">
        <div class="hero_content">
          <div class="hero_data">
            <h3>Looking For...</h3>
          </div>
          <form action="#">
           <div class="top">
            <input type="text" placeholder="Enter your job description">
            <a href="" class="hero_link">Search</a>
           </div>
             <div class="bottom">
              <div class="type"style="color: #555; font-size: 1rem;text-align: right;">
                <input class="full" type="checkbox" name="fulltime"> Full Time
                <input class="part" type="checkbox" name="parttime"> Part Time / Casual / Freelance
              </div>
              <select name="select" id="select">
                <option>Select your Location</option>
                <option>Mumbai</option>
                <option>Delhi</option>
                <option>Pune</option>
                <option>Ahamdabad</option>
                <option>Banglore</option>
              </select>
             </div>
          </form>
          <div class="register">
            <button type="button" (click)=" onRegister()" class="link">Register</button>
          </div>
        </div>
      </div>
      </section>
  </slide>
  <slide class="active" >
    <img src="../../assets/Image/background 4.jpg" alt="third slide" style="display: block; width: 100%;">

    <section class="hero">
      <div class="container">
        <div class="hero_content">
          <div class="hero_data">
            <h3>Looking For...</h3>
          </div>
          <form action="#">
           <div class="top">
            <input type="text" placeholder="Enter your job description" class="hero_search">
            <a href="" class="hero_link">Search</a>
           </div>
             <div class="bottom">
              <div class="type" style="color: #555; font-size: 1rem;text-align: right;">
                <input  class="full" type="checkbox" name="checkbox1"> Full Time
                <input class="part" type="checkbox" name="checkbox2"> Part Time / Casual / Freelance
              </div>
              <select name="select" id="select">
                <option>Select your Location</option>
                <option>Mumbai</option>
                <option>Delhi</option>
                <option>Pune</option>
                <option>Ahamdabad</option>
                <option>Banglore</option>
              </select>
             </div>
          </form>
          <div class="register">
            <button type="button" (click)=" onRegister()" class="link">Register</button>
          </div>
        </div>
      </div>
      </section>

</slide>

</carousel>



<div class="hero-main">
  <div class="info">
    <h3>We're leaders in</h3>
    <h4>Creative Digital Recruitment</h4>
    <p>Based in Surry Hills,the creative hub of Sydney. We are surrounded by creativity and reflects on the type of jobs we recruit for.</p>
    <a href="" class="text">FIND OUT OF MORE</a>
  </div>
</div>

