
<header class="header">
  <div class="navigation">
    <div class="container">
      <nav class="nav">
        <div class="nav_logo">
          <a href="/" class="scroll-link">MAIN TASK</a>
        </div>
        <ul class="nav_list">

              <li class="nav_item">
                <a routerLink="/home" routerLinkActive="active" class="nav_link scroll-link">HOME</a>
              </li>
              <li class="nav_item">
                <a routerLink="/user-profile" routerLinkActive="active" class="nav_link scroll-link">PROFILE</a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">ABOUT</a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">JOBS</a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">CLIENTS</a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">EMPLOYERS</a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">CONTACT</a>
              </li>
            </ul>
      </nav>
    </div>
  </div>
</header>
